body{
    margin: 0;
    background-color: rgb(44, 44, 44);
  }
  button {
      border-radius: 50px;
      border: 1px solid transparent;
      padding: 6px;
      font-size: 16px;
      font-weight: 500;
      font-family: inherit;
      background-color: rgb(194, 228, 1);
      cursor: pointer;
      transition: border-color 0.25s;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      color: rgb(44, 44, 44);
      width: 160px;
    }
    button:hover {
      border-color: #ccccccb7;
      border-width: 2px;
    }
    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
    .inputDatos{
      border-radius: 50px;
      border: transparent;
      background-color: rgba(255, 255, 255, 0.589);
      width: 200px;
      height: 30px;
      padding: 5px;
      text-align: center;
      margin-top: 10px;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 14px;
    }
    .textDatos{
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      color: white;
      font-weight: 500;
    }
    form{
      text-align: center;
      margin-top: 60px;
    }
      /*MODALES*/
.my-title {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: rgb(44, 44, 44);
}

/* Personaliza el estilo del popup */
.my-popup {
  background-color: #ffffff;
  border-radius: 30px; /* Ajusta el radio de las esquinas */
  width: 400px;
  height: auto;

}
/* Personaliza el botón de confirmación */
.my-confirm-button {
  background-color: rgb(44, 44, 44);
  color: #fff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px; 
  padding: 10px 20px;
  border-radius: 10px; 
  border: none !important; 
  outline: none !important; 

}
/* Cambiar el color del botón cuando se coloca el cursor encima */
.my-confirm-button:hover {
  background-color: #a7a7a7cc;
  border: none !important; 
  outline: none !important; 
}